<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Starbucks</title>
    <link href="index.css" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Poppins&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="contentContainer">
            <div class="welcome">Welcome to StarBucks!!</div>
            <form method="POST" action="/showifopen">
                <label for="time">Check below if we are available:</label>
                <input type="datetime-local" id="time" name="time" required>
                <input type="submit" value="Check">
            </form>

            <% if(response.message !='' ) { %>
                <div class="message">
                    <div class="emoji"><%= response.emoji %></div>
                    <%= response.message %>
                </div>
            <% } %>
        </div>
        <div class="imageContainer">
            <img src="cup.png" class="cup">
            <img src="beans.png" class="beans">
        </div>
    </div>
</body>

</html>