* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    user-select: none;
}

.container {
    width: 100vw;
    height: 100vh;
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container .contentContainer {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    font-size: 20px;
    color: rgb(31, 33, 48);
}

.container .contentContainer .welcome {
    font-family: 'Montserrat', sans-serif;
    font-size: 70px;
    color: rgb(31, 33, 48);
}

.container .contentContainer form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    row-gap: 20px;
}


input[type=datetime-local] {
    border: none;
    outline: none;
    color: rgb(31, 33, 48);
    font-size: 19px;
    font-family: helvetica;
    padding: 10px 20px;
    background-color: transparent;
    border: 3px solid rgb(31, 33, 48);
    border-radius: 30px;
    /* cursor: pointer; */

}
input[type=datetime-local]::-webkit-calendar-picker-indicator{
    cursor: pointer;
    border-radius: 3px;
}

.container .contentContainer form input[type="submit"] {
    outline: none;
    border: none;
    padding: 10px 30px;
    background-color: rgb(31, 33, 48);
    color: #fff;
    font-size: 16px;
    border-radius: 30px;
    border: 3px solid rgb(31, 33, 48);
    cursor: pointer;
}
.container .contentContainer form input[type="submit"]:hover{
    background-color: transparent;
    color: rgb(31, 33, 48);
}
.container .imageContainer {
    background-color: rgb(31, 33, 48);
    width: 500px;
    height: 500px;
    border-radius: 50%;
    position: relative;
}

.container .contentContainer .message{
    margin-top: 30px;
    padding: 10px 40px;
    background: rgb(31, 33, 48);
    color: #fff;
    width: fit-content;
    border-radius: 20px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.container .contentContainer .message .emoji{
    position: absolute;
    font-size: 25px;
    top: -10px;
    left: -2px;
}

.container .imageContainer .cup {
    width: 500px;
    animation: coffe 4s ease-in-out infinite;
}

.container .imageContainer .beans{
    position: absolute;
    z-index: 2;
    left: -120px;
    width: 700px;
    animation: beans 3s ease-in-out infinite;
}
@keyframes coffe {
    0% {
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(10deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

@keyframes beans {
    0% {
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0px);
    }
}